@use '../../../sass/color.vars' as *;
@use '../../../sass/ui.vars' as *;

.carouselItem {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    max-width: 200px;
    > .carouselImage {
        width: 60px;
        opacity: .2;
        background-color: $background-tertiary;
        padding: 5px 10px;
        margin: 10px;
        border-radius: $border-radius;
    }
    > .carouselItemTitle {
        text-align: center;
        margin: 5px;
    }
    > .carouselItemText {
        color: $color-secondary;
        align-self: flex-start;
        font-size:12px;
    }
}