@use '../../../sass/color.vars' as *;
@use '../../../sass/ui.vars' as *;
@use '../../../sass/mixins/hover.mixin' as hover;
@use '../../../sass/mixins/mq.mixin' as mq;
@use '../../../sass/placeholders/page-header';
@use '../../../sass/placeholders/item-grid';

.collectionDetails {
    height: 100%;
    width: 100%;
    overflow-y: scroll;
    >.topPanel {
        @extend %page-header;
        > .topPanelControl {
            @extend %page-header-inner;
            >.collectionInfo {
                display: flex;
                flex-direction: row;
                width: 100%;
                align-items: flex-start;
                >.collectionInfoDetails {
                    width: 50%;
                    display: flex;
                    flex-direction: column;
                    align-items: flex-start;
                    justify-content: space-between;
                    color: $color-primary;
                    >.title {
                        font-size: 16px;
                    }
                    >.description {
                        font-size: 12px;
                    }
                    >.collectionPageInfoForm {
                        width: 100%;
                        >.collectionPageInfoFormButtons {
                            justify-content: flex-start;
                        }
                    }
                }
                >.collectionInfoButtons {
                    display: flex;
                    flex-direction: row;
                    justify-content: flex-end;
                    width: 50%;
                    > * {
                        margin: 0 5px;
                    }
                }
            }
        }
    }
    >.lexiGrid {
        @extend %item-grid;
        padding-bottom: 85px;
        @include mq.mq(mobile-portrait) {
            padding-bottom: 0;
        }
        >.newCardBtn {
            position: absolute;
            bottom: 25px;
            right: 25px;
            height: 50px;
            @include mq.mq(mobile-portrait) {
                position: static;
                border-radius: 10px;
                width: unset;
                margin: auto;
            }
        }
    }
}