@use '../../sass/mixins/hover.mixin' as hover;

@keyframes fadeOut {
    0% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}

@keyframes celebrate {
    0% {
        transform: scale(1);
    }
    50% {
        transform: scale(1.1);
    }
    100% {
        transform: scale(1);
    }
}

.gameCard {
    display: flex;
    flex-direction: column;
    padding: 1rem;
    background-color: #F2E8D7;
    border-radius: 10px;
    margin-bottom: 1rem;
    text-align: center;
    min-width: 100px;
    cursor: pointer;
    height: fit-content;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1), 0 1px 3px rgba(0, 0, 0, 0.08);
    @include hover.hover(hover) {
        &:hover {
            background-color: #E8D5C0;
            box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
            transform: translateY(-5px);
        }
    }
    >.gameCardText {
        font-size: 1.2rem;
        font-weight: bold;
        margin-bottom: 0.5rem;
        color: #434343;
    }
    &.gameCardDisplay {
        background-color: #E8F2F8;
        pointer-events: none;
    }
}