@use '../../sass/color.vars' as *;
@use '../../sass/mixins/mq.mixin' as mq;

.authForm {
    height: 100%;
    width: 100%;
    max-width: 600px;
    width: 100%;
    padding: 2rem;
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    justify-content: center;
    align-items: center;
    > .authSection {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 40px;
        width: 100%;
        max-width: 400px;
        box-sizing: border-box;
        text-align: center;
        > input {
            width: 100%;
            margin: 2rem 0;
        }
        &.authHeader {
            height: 50px;
            text-align: center;
        }
        &.authButtonSection {
            height: 50px;
            justify-content: space-between;

        }
        > .continueWithoutAccountLink {
            color: $color-tertiary;
        }
    }
}