@use '../../../../../sass/color.vars' as *;
@use '../../../../../sass/ui.vars' as *;
@use '../../../../../sass/mixins/mq.mixin' as mq;

.cta {
    background-color: #3B83BD;
    min-height: calc(100vh - $header-height);
    max-height: 800px;
    width: 100%;
    display: flex;
    justify-content: center;
    font-weight: 700;
    > .ctaContent {
        width: 1000px;
        box-sizing: border-box;
        margin: auto;
        padding: 40px;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        padding: 10px;
        flex-direction: column;
        width: 100%;
        @include mq.mq(desktop) {
            padding: 40px;
            flex-direction: row;
            width: 1000px;
        }
        @include mq.mq(tablet-landscape) {
            padding: 40px;
            flex-direction: row;
            width: 100%;
        }
        > .ctaImage {
            width: 150px;
            @include mq.mq(desktop) {
                width: 300px;
            }
            @include mq.mq(tablet) {
                width: 300px;
            }
        }
        > .ctaPanel {
            width: 60%;
            text-align: center;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            gap: 40px;
            font-size: 28px;
            color: #fff;
            width: 100%;
            margin-top: 40px;
            @include mq.mq(desktop) {
                width: 60%;
                margin-top: 0;
            }
            @include mq.mq(tablet-landscape) {
                width: 60%;
                margin-top: 0;
            }
            @include mq.mq(tablet-portrait) {
                width: 60%;
            }
            > .ctaControl {
                width: 60%;
                > * {
                    width: 100%;
                    padding: 10px;
                }
            }
        }
    }
}