@use '../../sass/color.vars' as *;
@use '../../sass/mixins/mq.mixin' as mq;

.sidebar {
    grid-column: 1 / 2;
    display: flex;
    flex-direction: column;
    border-right: 2px solid #AFC4D9;
    padding: 0 16px;
    > .sidebarLogo {
        color: $background-primary;
        padding: 32px 10px 10px;
        margin-bottom: 10px;
        @include mq.mq(desktop) {
            padding: 32px 0 22px 10px;
        }
        @include mq.mq(mobile-portrait) {
            display: none;
        }
    }
    @include mq.mq(mobile-portrait) {
        order: 3;
        height: 70px;
        justify-content: space-around;
        align-items: center;
        flex-direction: row;
        z-index: 2;
        background-color: #fff;
        width: 100%;
        border-right: none;
        border-top: 2px solid #AFC4D9;
        box-sizing: border-box;
    }
}