@use 'sass:math';
@use '../../../../sass/color.vars' as *;
@use '../../../../sass/ui.vars' as *;

$opacity: 0.75;
$height: 2px;
$width: 35px;

.menuBtn {
    align-items: center;
    background: transparent;
    border-color: transparent;
    border-width: 0;
    box-sizing: border-box;
    display: flex;
    height: $header-height;
    justify-content: center;
    padding: 0;
    position: relative;
    width: $width;
    min-width: $width;
    margin-left: 0 !important;
    cursor: pointer;
    &.open {
        > .hamburger {
            background-color: transparent;
            transform: translateX(-15px);
            &:after {
                transform: translateX(15px) rotate(-45deg);
                width: math.div($width, 2.5);
            }
            &:before {
                transform: translateX(15px) rotate(45deg);
            }
        }
    }
    > .hamburger {
        background-color: $color-primary;
        align-items: center;
        display: flex;
        height: $height;
        justify-content: center;
        transition: background-color .5s ease-in-out, transform .5s ease-in-out;
        width: math.div($width, 2.5);
        &:after, &:before {
            content: '';
            height: $height;
            position: absolute;
            transition: transform .5s ease-in-out;
            width: math.div($width, 2.5);
        }
        &:after {
            background-color: $color-primary;
            transform: translateY(5px) translateX(3px);
            width: math.div($width, 4.5);
        }
        &:before {
            background-color: $color-primary;
            transform: translateY(-5px);
            width: math.div($width, 2.5);
        }
    }
}