//Background color scheme
$background-primary: #3B83BD;
$background-secondary: #74B2D5;
$background-warning: #E74C3C;

//TODO remove
$background-tertiary: pink;

//Text color scheme
$color-primary: #94A2AB;
$color-secondary: #E0E7EC;
$color-tertiary: #000;

 //Border color
$border-color: #74B2D5;

 //Accent color
$accent-color: #2ECC71;

 //Button primary color scheme
 $button-primary-color: #fff;
 $button-primary-background-color: $accent-color;

 //Button secondary color scheme
 $button-secondary-color: #fff;
 $button-secondary-background-color: $background-secondary;

 //Warning button color scheme
 $button-warning-color: #fff;
 $button-warning-background-color: $background-warning;