//Background color scheme
$background-primary: #F3F5FB;
$background-secondary: #FFF;
$background-tertiary: #E0E7EC;

//Text color scheme
$color-primary: #94A2AB;
$color-secondary: #E0E7EC;
$color-tertiary: #000;

 //Border color
 $border-color: rgba(0, 0, 0, 0.1);

 //Accent color
 $accent-color: #649DFF;

 //Button primary color scheme
 $button-primary-color: #fff;
 $button-primary-background-color: $accent-color;

 //Button secondary color scheme
 $button-secondary-color: #fff;
 $button-secondary-background-color: $background-tertiary;

 //Warning button color scheme
 $button-warning-color: #fff;
 $button-warning-background-color: red;