 //General component border radius
 $border-radius: 5px;

 //Header height
 $header-height: 30px;

 //Header menu button height
 $header-menu-btn-height: 30px;

 //Footer height
 $footer-height: 30px;

 //Border width
 $border-width: 1px;

 //Section header height
 $section-header-height: 40px;