@use '../../sass/mixins/mq.mixin' as mq;

.carousel {
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: space-around;
    align-items: flex-start;
    @include mq.mq(mobile-portrait) {
        flex-direction: column;
        justify-content: center;
        align-items: center;
        > * {
            margin: 10px 0;
        }
    }
}