@use '../color.vars' as *;

%button-primary {
    @extend %button;
    color: $button-primary-color;
    background-color: $button-primary-background-color;
    border: 1px solid $button-primary-background-color;
    border-radius: 10px;
    padding: 5px 10px;
}

%button-secondary {
    @extend %button;
    color: $button-secondary-color;
    // background-color: $button-secondary-background-color;
    background-color: transparent;
    // border: 1px solid #044389;
    border: 1px solid #0B0033;
    border-radius: 10px;
    padding: 5px 10px;
}

%button-warning {
    @extend %button;
    color: $button-warning-color;
    background-color: $button-warning-background-color;
    border-radius: 10px;
    padding: 5px 10px;
}

%button {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: row;
}