@use '../mixins/mq.mixin' as mq;
@use '../color.vars' as *;

%page-header {
    background-color: $page-background;
    display: flex;
    justify-content: space-between;
    position: sticky;
    top: 0;
    > %page-header-inner {
        display: flex;
        flex-direction: row;
        width: 100%;
        justify-content: space-between;
        padding: 1rem;
        margin: 1rem 1rem 0 1rem;
        border-radius: 10px;
        background-color: #E8F2F8;
        @include mq.mq(mobile-portrait) {
            margin: 0;
            border-radius: 0;
            width: 100%;
        }
    }
}