@use '../../sass/color.vars' as *;
@use '../../sass/placeholders/section-header';
@use '../../sass/ui.vars' as *;
@use '../../sass/mixins/mq.mixin' as mq;
@use '../../sass/mixins/hover.mixin' as hover;

$header-padding: 10px;
$padding: 60px;

.modalOverlay {
    background-color: rgba(0, 0, 0, 0.4);
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 999;
    > .modal {
        box-sizing: border-box;
        display: flex;
        flex-direction: column;
        border-radius: $modal-border-radius;
        border-width: $border-width;
        border-style: solid;
        border-color: $border-color;
        width: 100%;
        max-width: 420px;
        height: 100%;
        max-height: 500px;
        background-color: #EAF2F8;
        @include mq.mq(mobile-portrait) {
            max-height: 80%;
            max-width: 90%;
        }
        @include mq.mq(mobile-landscape) {
            max-height: 90%;
            max-width: 80%;
        }

        >.modalHeader {
            @extend %section-header;
            justify-content: space-between;
            border-radius: $modal-border-radius $modal-border-radius 0 0;
            > .modalHeaderLeft {
                align-items: flex-start;
                box-sizing: border-box;
                display: flex;
                justify-content: flex-start;
                padding-left: $header-padding;
                width: 90%;
                > * {
                    padding: 0 2px;
                }
            }
            > .modalHeaderRight {
                align-items: flex-end;
                box-sizing: border-box;
                display: flex;
                justify-content: flex-end;
                width: 10%;
                > .modalHeaderCloseBtn {
                    background-color: transparent;
                    border-color: none;
                    color: inherit;
                    font-size: 26px;
                    @include hover.hover(hover) {
                        > * {
                            opacity: .7;
                        }
                        &:hover {
                            > * {
                                opacity: 1;
                            }
                        }
                    }
                }
            }
        }
        >.modalContent {
            overflow-y: scroll;
            display: flex;
            justify-content: center;
            width: 100%;
            height: calc(100% - $section-header-height);
            box-sizing: border-box;
            padding: 10px;
            margin-bottom: 10px;
            > * {
                width: 100%;
            }
        }
    }
}