
//TODO VBF-48 refactor as mixin for standard button component
$background-color: #649Dff;
$text-color: #FFF;

.buttonPrimary {
    background-color: $background-color;
    color: $text-color;
    border-radius: 20px;
    padding: 5px 10px;
}