/** General App Style Rules */
@use './sass/color.vars' as *;

$info-bar-height: 30px; //TODO into _ui.vars

@font-face {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    src: url('../assets/fonts/Inter-Regular.ttf') format('truetype');
}

html {
    &, body {
        height: 100%;
        width: 100%;
    }
}
body {
    background-color: $background-primary;
    margin: 0;
    font-family: 'Inter', sans-serif;
    font-size: 14px;
    height: 100%;
    > #root {
        height: 100%;
        overflow: hidden;
        > * {
            > #main {
                height: calc(100% - 2 * $info-bar-height);
                overflow-y: scroll;
            }
        }
    }
}

input {
    border-color: #fff;
    box-shadow: none;
    border-style: solid;
    border-radius: 5px;
    height: 20px;
}

a, a:link, a:visited, a:focus, a:hover, a:active{
    color: inherit;
  }