/** General App Style Rules */
@use './sass/color.vars' as *;
@use './sass/ui.vars' as *;
@use './sass/breakpoints' as *;
@use './sass/mixins/mq.mixin' as mq;

@font-face {
    font-family: 'Indie Flower';
    font-style: normal;
    font-weight: 400;
    src: url('../assets/fonts/IndieFlower-Regular.ttf') format('truetype');
}

@font-face {
    font-family: 'Quicksand';
    font-style: normal;
    font-weight: 500;
    src: url('../assets/fonts/Quicksand-Medium.ttf') format('truetype');
}

@font-face {
    font-family: 'Quicksand';
    font-style: normal;
    font-weight: 700;
    src: url('../assets/fonts/Quicksand-Bold.ttf') format('truetype');
}

html {
    &, body {
        height: 100%;
        width: 100%;
    }
}
body {
    margin: 0;
    font-family: 'Quicksand', sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.7;
    > #root {
        height: 100%;
        > * {
            > #main {
                height: calc(100% - $header-height - $footer-height);
                overflow-y: scroll;
            }
        }
    }
}

input, textarea {
    border-color: #fff;
    box-shadow: none;
    border-style: solid;
    border-radius: $border-radius;
    height: 20px;
    font-family: 'Quicksand', sans-serif;
}

textarea {
    resize: none;
}

a, a:link, a:visited, a:focus, a:hover, a:active{
    color: inherit;
  }

h2 {
    margin: 0;
}

hr {
    border-style: solid;
    border-radius: 20px;
    border-color: $border-color;
    opacity: .5;
    width: 100%;
    @include mq.mq(desktop) {
        max-width: #{$tablet}px;
    }
}