@use '../../../sass/color.vars' as *;
@use '../../../sass/mixins/mq.mixin' as mq;
@use '../../../sass/placeholders/page-header';

.homePage {
    width: 100%;
    box-sizing: border-box;
    height: 100%;
    overflow-y: scroll;
    .homePageSection {
        margin: 10px 0;
    }
    .homeHeader {
        @extend %page-header;
        > .control {
            @extend %page-header-inner;
            >.welcomeBanner {
                width: 50%;
                display: flex;
                align-items: center;
                color: $color-primary;
            }
            >.controlButtons {
                display: flex;
                flex-direction: row;
                justify-content: flex-end;
                gap: 10px;
                align-items: center;
                @include mq.mq(mobile-portrait) {
                    flex-direction: column;
                }
            }
        }
    }
    >.searchContainer {
        width: 100%;
        display: flex;
        >.searchInput {
            display: inline-block;
            width: 50%;
            min-width: 200px;
            @include mq.mq(mobile-portrait) {
                margin: auto;
            }
        }
    }
    >.collectionGrid {
        max-width: 100%;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        gap: 30px;
        justify-content: flex-start;
        align-items: center;
        margin: 20px;
        @include mq.mq(mobile) {
            justify-content: center;
        }
    }
}