@use '../../sass/color.vars' as *;

$footer-height: 30px;   //TODO vbf-48 info-bar height from _ui.vars
$border-color: rgba(0, 0, 0, 0.1);
$border-width: 1px;

.footer {
    border-width: 1px 0;
    border-style: solid;
    border-color: $border-color;
    height: $footer-height;
    color: $color-primary;
    background-color: $color-secondary;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 12px;
    > * {
        opacity: .6;
    }
}