@use '../../sass/color.vars' as *;
@use '../../sass/ui.vars' as *;

.footer {
    box-sizing: border-box;
    height: $footer-height;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 12px;
    > * {
        opacity: .6;
    }
    &.footerLanding {
        background-color: $background-primary;
    }
}