@use '../../../../sass/placeholders/section';

.features {
    margin-top: 10px;
    > .feature {
        @extend %section;
        > .featureTitle {
            text-align: center;
            margin: 16px 40px 8px 40px;

        }
        > .featureList {
            padding-right: 40px;
        }
    }
}