@use '../../sass/placeholders/item-grid';

.collection {
    @extend %item;
    > .collectionTitle {
        @extend %item-title;
    }
    > .collectionDescription {
        font-size: 1rem;
        margin-bottom: 1rem;
        color: #7D8EA3;
    }
    >.collectionActions {
        >.playBtn, >.editBtn {
            @extend %item-btn;
        }
    }
}