@use '../../sass/color.vars' as *;

$header-height: 30px;   //TODO VBF-48 info-bar-height from _ui.vars
$border-color: rgba(0, 0, 0, 0.1);
$border-width: 1px;

.header {
    background-color: $background-tertiary;
    display: flex;
    height: $header-height;
    color: $color-primary;
    border-style: solid;
    border-width: 0 0 1px 0;
    border-color: $border-color;
    >.headerLeft {
        justify-content: flex-start;
        >.logo {
            margin-left: 10px;
            font-family: cursive;
        }
    }
    >.headerRight {
        justify-content: flex-end;
        height: 100%;
        align-items: center;
        > .headerNav {
            width: 100%;
            display: flex;
            flex-direction: row;
            flex-wrap: nowrap;
            align-items: center;
            height: 100%;
            justify-content: flex-end;
            > * {
                margin-left: 5px;
            }
            > .headerButton {
                height: 20px;
                box-sizing: border-box;
                display: flex;
                justify-content: center;
                align-items: center;
                padding: 5px;
            }
        }
    }
    > .headerLeft, > .headerRight {
        height: inherit;
        background-color: inherit;
        display: flex;
        align-items: center;
        z-index: 1;
        width: 50%;
    }
}