@use '../../sass/color.vars' as *;
@use '../../sass/ui.vars' as *;
@use '../../sass/placeholders/border';

.header {
    background-color: $background-primary;
    display: flex;
    height: $header-height;
    color: #fff;
    position: sticky;
    top: 0;
    z-index: 10;
    padding: 0 50px;
    justify-content: space-between;
    align-items: center;
    font-size: 14px;
}