@use '../../../../../sass/color.vars' as *;
@use '../../../../../sass/mixins/mq.mixin' as mq;
@use '../../../../../sass/mixins/hover.mixin' as hover;

$button-section-width: 120px;

.cardDisplay {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    flex-wrap: nowrap;
    min-height: 50px;
    >.cardDisplayData {
        width: calc(100% - $button-section-width);
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        align-items: center;
        padding-left: 20px;
        box-sizing: border-box;
        @include mq.mq(mobile-portrait) {
            flex-direction: column;
        }
        >.cardLexi {
            color: $color-primary;
        }
        >.cardTextPrompt {
            color: $color-secondary;
        }
        >.cardText {
            width: 50%;
            @include mq.mq(mobile-portrait) {
                width: 100%;
            }
        }
    }
    >.buttonSection {
        width: $button-section-width;
        display: flex;
        padding-right: 20px;
        box-sizing: border-box;
        >.cardDisplayBtn {
            color: $color-primary;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            @include hover.hover(hover) {
                color: $color-secondary;
                &:hover {
                    color: $color-primary;
                }
            }
        }
    }
}