$header-background: #E0E7EC;
$header-color: #94A2AB;
$header-height: 30px;

.header {
    background-color: $header-background;
    display: flex;
    height: $header-height;
    color: $header-color;
    >.headerLeft {
        justify-content: flex-start;
        width: 40%;
        >.logo {
            margin-right: 5px;
            font-family: cursive;
        }
    }
    >.headerRight {
        justify-content: flex-end;
        width: 60%;
        > .headerNav {
            display: flex;
            flex-direction: row;
            flex-wrap: nowrap;
            > .headerLocaleSelector {
                margin-right: 5px;
            }
            > .logoutButton {
                height: 20px;
                box-sizing: border-box;
                margin: 0px 5px;
                padding: 0;
                background-color: unset;
                color: inherit;
            }
            > a {
                color: inherit;
                text-decoration: none;
                padding: 0;
                margin: 5px;
            }   
        }
    }
    > .headerLeft, > .headerRight {
        height: inherit;
        background-color: inherit;
        display: flex;
        align-items: center;
        z-index: 1;
    }
}