@use '../../sass/color.vars' as *;
@use '../../sass/mixins/mq.mixin' as mq;


.settingsPage {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    box-sizing: border-box;
    align-items: center;
    height: 100%;
    background-color: $page-background;
    width: 100%;
    > .baseSettings {
        display: flex;
        flex-direction: column;
        flex-grow: 1;
        width: 80%;
        box-sizing: border-box;
        @include mq.mq(mobile-portrait) {
            width: 100%;
            padding: 1rem;
        }
    }
    > .settingsControl {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 80%;
        box-sizing: border-box;
        margin-bottom: 80px;
        @include mq.mq(mobile) {
            margin-bottom: 20px;
        }
        @include mq.mq(mobile-portrait) {
            width: 100%;
            padding: 1rem;
        }
        > .settingsButton {
            width: 60%;
        }
    }
}