@use '../../sass/placeholders/remove-tap-highlight';
@use '../../sass/placeholders/button';

.button {
    @extend %remove-tap-highlight;
    cursor: pointer;
    background-color: transparent;
    border-color: transparent;
    font-weight: inherit;
    pointer-events: all;
    color: inherit;
    > * {
        margin: 0 2px;
    }
    &.primary {
        @extend %button-primary;
    }
    &.secondary {
        @extend %button-secondary;
    }
}