@use '../../../sass//mixins/hover.mixin' as hover;

.sidebarButton {
    height: 40px;
    width: 100%;
    display: flex;
    padding: 10px;
    gap: 10px;
    border-radius: 10px;
    color: #5D6D7E;
    margin-bottom: 10px;
    font-family: 'Quicksand';
    @include hover.hover(hover) {
        &:hover {
            color: #34495E;
            background-color: #EAF2F8;
        }
    }
    &.active {
        color: #3B83BD;
        background-color: #D6EAF8;
        font-weight: bold;
    }
}