/** General App Style Rules */

$background-color: rgba(0, 0, 0, 0.1);

body {
    background-color: $background-color;
    margin: 0;
}

.buttonPrimary {
    background-color: #649DFF;
    color: #fff;
    border-radius: 20px;
    padding: 5px;
}