@use '../../../sass/mixins/mq.mixin' as mq;

.sidebarLayout {
    display: grid;
    grid-template-columns: 88px 1fr;
    height: 100vh;
    >.sidebarHeader {
        display: none;
    }
    @include mq.mq(mobile-portrait) {
        grid-template-columns: 1fr;
        grid-template-rows: 70px 1fr 70px;
        >.sidebarHeader {
            display: flex;
        }
    }
    @include mq.mq(desktop) {
        grid-template-columns: 256px 1fr;
    }
}