@use '../../../../sass/ui.vars' as *;
@use '../../../../sass/mixins/mq.mixin' as mq;

.headerMenu {
    position: absolute;
    display: flex;
    flex-direction: column;
    width: 250px;
    right: 0;
    top: $header-height;
    background-color: inherit;
    color: inherit;
    @include mq.mq(mobile) {
        width: 100%;
        left: 0;
        right: unset;
    }

}